* {
    background:     #0A0E0E;
    background-opaque: #0A0E0EE6;
    background-alt: #161d1d;
    foreground:     #a9cfcd;
    selected:       #FDCB24;
    active:         #d4855d;
    urgent:         #816962;
}
