* {
    background:     #080810;
    background-opaque: #080810E6;
    background-alt: #131221;
    foreground:     #f6dfc4;
    selected:       #765994;
    active:         #7f6477;
    urgent:         #7a4468;
}
