* {
    background:     #1d1316;
    background-opaque: #1d1316E6;
    background-alt: #2c1d21;
    foreground:     #e0d2d9;
    selected:       #B2A39B;
    active:         #aca780;
    urgent:         #ac7872;
}
