* {
    background:     #041516;
    background-opaque:     #041516E6;
    background-alt: #0c292b;
    foreground:     #c5f1db;
    selected:       #A0AB9B;
    active:         #4f9a75;
    urgent:         #948771;
}
